ul#nav-one { 
	margin-top: 0px;
	padding-left: 0px;
	padding-right: 1%;
}
ul#nav-one ul {
	position: absolute;
	padding-top: 0.3em;
	-moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
ul#nav-one li { 
	float: left;
	list-style-type: none;
	margin-right: 1%;
}
ul#nav-one li:not(.lambda) a.menubar-title-heading { 
	margin-left: 0.5em;
	margin-right: 0.5em;
}
ul#nav-one li.lambda { 
	font-size: 30px;
	position: absolute;
	border-top: none;
	left: 0px;
	padding-left: 15px;
	padding-right: 15px;
}
ul#nav-one li.lambda ul { 
	padding-left: 40%;
	padding-right: 10%;
}
ul#nav-one li.lambda ul li { 
	padding-left: 2%;
	padding-right: 2%;
	width: 90% !important;
}
ul#nav-one li:hover,
ul#nav-one { 
	-moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
ul#nav-one li.second { 
	margin-left: 68px;
}
ul#nav-one li:not(.ui-state-hover):not(.lambda) { 
	border: 1px solid transparent;
}
ul#nav-one li ul { 
	padding-left: 0.5%;
	padding-right: 0.7%;
}
ul#nav-one li ul li {
	width: 90% !important;
	padding-left: 5%;
	padding-right: 5%;
}
ul#nav-one li ul li ul { 
	padding-left: 2%;
	padding-right: 3%;
}
ul#nav-one li ul li ul li { 
	width: 90% !important;
	padding-left: 5%;
	padding-right: 5%;
}
ul#nav-one li a { 
	text-decoration: none;
}
ul#nav-one div.nav-float-right { 
	float: right;
}
