ul#nav-one { 
	margin-top: 0px;
	padding-left: 1%;
	padding-right: 1%;
}
ul#nav-one ul {
	position: absolute;
	padding-top: 0.3em;
}
ul#nav-one li { 
	float: left;
	list-style-type: none;
	padding-left: 0.7%;
	padding-right: 0.7%;
}
ul#nav-one li.lambda { 
	font-size: 30px;
	border: 1px solid black;
	position: absolute;
	left: 0px;
}
ul#nav-one li.second { 
	margin-left: 30px;
}
ul#nav-one li:not(.ui-state-hover) { 
	border: 1px solid transparent;
}
ul#nav-one li ul { 
	padding-left: 0.5%;
	padding-right: 0.5%;
}
ul#nav-one li ul li {
	width: 90% !important;
	padding-left: 5%;
	padding-right: 5%;
}
ul#nav-one li ul li ul { 
	padding-left: 5%;
	padding-right: 5%;
}
ul#nav-one li ul li ul li { 
	width: 90% !important;
	padding-left: 5%;
	padding-right: 5%;
}
ul#nav-one li a { 
	text-decoration: none;
}
div.nav-float-right { 
	float: right;
}
