* {
	font-family: 'Cantarell';
}
section, article, header, footer, nav, aside, hgroup {
  display: block;
} 
body,html { 
	margin: 0;
}
.ui-button {
	font-size: 0.9em !important;
}
input.esqoo-text-field {
	font: inherit;
	text-align: inherit;
	outline: none;
	cursor: text;
	padding-left: 0.2em !important;
}
