* {
	font-family: 'Cantarell';
}
section, article, header, footer, nav, aside, hgroup {
  display: block;
} 
body,html { 
	margin: 0;
}
.ui-button,
.ui-selectmenu {
	font-size: 0.9em !important;
}
input.esqoo-text-field {
	font: inherit;
	text-align: inherit;
	outline: none;
	cursor: text;
	padding-left: 0.2em !important;
}
div.ui-dialog {
	-moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
	-webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
	box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
}
div.ui-dialog div.ui-dialog-titlebar { 
	padding: 0em 0em 0em 0.4em;
}
div.ui-dialog div.ui-dialog-titlebar span.ui-dialog-title { 
	font-size: 0.90em;
}
div.ui-dialog div.ui-dialog-buttonpane { 
	padding: 0em 0em 0em 0em;
}
div.ui-dialog .ui-resizable-se { 
	bottom: 1px;
	right: 1px;
}
div.ui-dialog div.ui-dialog-content { 
	font-size: 0.9em;
}
div.ui-dialog div.ui-dialog-content div.element { 
	display: inline;
}
div.ui-dialog div.ui-dialog-content label { 
	width: 38%;
	clear: left;
	display: block;
	float: left;
	margin-left: 1.5%;
}
div.ui-dialog div.ui-dialog-content input.esqoo-text-field { 
	margin-bottom: 0.8em;
	width: 56%;
	padding: 0.3em 1em;
	font-weight: normal;
	font-family: inherit;
}
div.ui-dialog div.ui-dialog-content label span.required,
div.ui-dialog div.ui-dialog-content div.reqnote em { 
	color: #FF0000;
}
div.ui-dialog div.ui-dialog-content label span.required {
	left: 1%;
	position: absolute;
}
div.ui-dialog div.ui-dialog-content div.error {
	float: left;
	width: 56%;
}
div.ui-dialog div.ui-dialog-content div.error span.error {
	display: block;
	width: 100%;
	clear: both;
	color: #FF0000;
	text-align: center;
}
div.ui-dialog div.ui-dialog-content div.error input { 
	width: 100%;
}
section.login-box div#login-errors { 
	color: #FF0000;
}
button.ui-button,
input.ui-button,
a.ui-selectmenu,
ul.ui-selectmenu-menu-dropdown,
section.esqoo-dialog-tabs { 
	-moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
a.ui-selectmenu { 
	font-weight: normal !important;
}
div.ui-dialog .ui-tabs .ui-tabs-nav li a {
	padding: 0.1em 1em;
}
span.esqoo-ui-dialog-button-icon { 
	float: left;
	margin-top: 0.6em;
	margin-left: 1em;
}

