* {
	font-family: 'Cantarell';
}
section, article, header, footer, nav, aside, hgroup {
  display: block;
} 
body,html { 
	margin: 0;
}
body.nighttime { 
	background-color: black;
	color: white;
}
body.daytime { 
	background-color: white;
	color: black;
}
html {
     overflow-y: -moz-scrollbars-vertical;
     overflow-y: scroll;
}
.ui-button,
.ui-selectmenu {
	font-size: 0.9em !important;
}
input.esqoo-text-field,
textarea.esqoo-text-field {
	font: inherit;
	text-align: inherit;
	outline: none;
	cursor: text;
	padding-left: 0.2em !important;
}
div.ui-dialog {
	-moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
	-webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
	box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
}
div.ui-dialog div.ui-dialog-titlebar { 
	padding: 0em 0em 0em 0.4em;
}
div.ui-dialog div.ui-dialog-titlebar span.ui-dialog-title { 
	font-size: 0.90em;
}
div.ui-dialog div.ui-dialog-buttonpane { 
	padding: 0em 0em 0em 0em;
}
div.ui-dialog .ui-resizable-se { 
	bottom: 1px;
	right: 1px;
}
div.ui-dialog div.ui-dialog-content { 
	font-size: 0.9em;
}
div.ui-dialog div.ui-dialog-content div.element { 
	display: inline;
}
div.ui-dialog div.ui-dialog-content label { 
	width: 38%;
	clear: left;
	display: block;
	float: left;
	margin-left: 1.5%;
}
div.ui-dialog div.ui-dialog-content input.esqoo-text-field,
div.ui-dialog div.ui-dialog-content textarea.esqoo-text-field { 
	margin-bottom: 0.8em;
	width: 56%;
	padding: 0.3em 1em;
	font-weight: normal;
	font-family: inherit;
}
div.ui-dialog div.ui-dialog-content label span.required,
div.ui-dialog div.ui-dialog-content div.reqnote em { 
	color: #FF0000;
}
div.ui-dialog div.ui-dialog-content label span.required {
	left: 1%;
	position: absolute;
}
div.ui-dialog div.ui-dialog-content div.error {
	float: left;
	width: 56%;
}
div.ui-dialog div.ui-dialog-content div.error span.error {
	display: block;
	width: 100%;
	clear: both;
	color: #FF0000;
	text-align: center;
}
div.ui-dialog div.ui-dialog-content div.error input { 
	width: 100%;
}
div.ui-dialog div.ui-dialog-content iframe.form-iframe { 
	width: 100%;
	height: 85%;
	border: 1px solid black; 
}
section.login-box div#login-errors { 
	color: #FF0000;
}
button.ui-button,
input.ui-button,
textarea.ui-button,
div.ui-button,
div.esqoo-dropzone,
a.ui-selectmenu,
ul.ui-selectmenu-menu-dropdown,
div.esqoo-uploadq-queue-div,
div.esqoo-uploadq-complete-div,
div.esqoo-uploadq-failed-div,
div.flexigrid,
ul.ui-autocomplete,
div.ui-dialog div.ui-dialog-content iframe.form-iframe,
section.esqoo-dialog-tabs { 
	-moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
div.esqoo-dropzone { 
	padding: 1em;
	margin-top: 0.65em;
}
div.esqoo-dropzone-over { 
	background-color: red !important;
}
span.esqoo-dropzone-label { 
	border-style: dashed;
	border-width: 1px;
	border-color: inherit;
	padding: 0.5em;
	width: auto;
	display: block;
}
a.ui-selectmenu { 
	font-weight: normal !important;
	height: 1.8em;
	margin-bottom: 0.8em;
}
a.ui-selectmenu span.ui-selectmenu-status { 
	padding-top: 0.1em;
}
div.ui-dialog .ui-tabs .ui-tabs-nav li a {
	padding: 0.1em 1em;
}
span.esqoo-ui-dialog-button-icon { 
	float: left;
	margin-top: 0.6em;
	margin-left: 1em;
}
ul.esqoo-uploadq-queue ,
ul.esqoo-uploadq-complete ,
ul.esqoo-uploadq-failed { 
	list-style-type: none;
	padding-left: 1em;
	padding-right: 1em;
	border-color: inherit;
}
img.esqoo-uploadq-queue-item-thumbnail { 
	clear: both;
	float: right;
}
li.esqoo-uploadq-queue-item { 
	clear: both;
}
li.esqoo-uploadq-queue-item:not(:first-child) { 
	border-top: 1px dotted;
	border-color: inherit;
	padding-top: 1em;
	margin-top: 0.5em;
}
div.esqoo-uploadq-queue-div,
div.esqoo-uploadq-complete-div,
div.esqoo-uploadq-failed-div {
	margin-top: 1em;
	margin-bottom: 1em;
}
span.esqoo-uploadq-queue-item-status-text { 
	float: right;
}
div.esqoo-uploadq-queue-div-header,
div.esqoo-uploadq-complete-div-header,
div.esqoo-uploadq-failed-div-header { 
	border-style: solid;
	border-width: 1px;
	border-color: inherit;
	margin: 0.2em;
	padding-left: 0.4em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}
input.esqoo-uploadq-album { 
	float: right;
	margin-right: 0px;
}
input.esqoo-combobox { 
	padding: 0.25em 0.4em !important;
}
button.esqoo-combobox-button { 
	float: right;
	z-index: 10;
	font-size: 0.9em;
}
button.esqoo-combobox-button span.ui-button-text { 
	padding-top: 0.2em;
	padding-bottom: 0.3em;
}
ul.ui-autocomplete { 
	max-height: 250px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;
}
input.esqoo-uploadq-album { 
	width: 70%;
}
input.esqoo-upload-queue-item-name-container[readonly],
input.esqoo-upload-queue-item-album-container[readonly] { 
	background-color: transparent !important;
	background-image: none !important;
	color: inherit;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border: none !important;
}
ul.esqoo-uploadq-complete textarea { 
	width: 99%;
}
div.esqoo-message-container { 
	-moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
	-webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
	box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
	padding-left: 1em;
	padding-right: 1em;
	margin-right: 0.15em;
	font-family: inherit;
	width: 11em;
	height: 5em;
}
div.esqoo-message-label-container { 
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
}
div.esqoo-message-label { 
	position: absolute;
	top: 50%;
	margin-top: -1em;
	width: 100%;
	text-align: center;
}
div.esqoo-message-close-button { 
	position: absolute;
	right: 0;
}
div.esqoo-ui-rich-editor-container { 
	clear: both;
}
.markItUp {
	border: 0px !important;
	margin: 0 !important;
	width: auto !important;
}
div.esqoo-ui-visual-rich-editor-tab-container,
div.esqoo-ui-code-rich-editor-tab-container,
div.esqoo-ui-raw-rich-editor-tab-container { 
	padding: 0 !important;
}
div.esqoo-ui-raw-rich-editor-tab-container textarea { 
	margin: 0;
}
div.sqtip-aperturefnumber,
div.sqtip-exposuretime,
div.sqtip-isospeedratings { 
	float: left; width: 33%;
}
div.sqtip-exif-container { 
	clear: both;
}
div.sqtip-exposuretime { 
	text-align: center;
}
div.sqtip-aperturefnumber { 
	text-align: right;
}

