<?xml version="1.0" encoding="UTF-8"?>
<Plugin>
	<Identifier>esqoo-picture-navigator</Identifier>
	<Name>Picture Editor - Navigator Window</Name>
	<Backend>
		<PictureEditor>
			<Dialog>
				<Identifier>esqoo-picture-navigator</Identifier>
				<Title>Navigator</Title>
				<Controller>main</Controller>
				<Method>index</Method>
			</Dialog>
			<LoadJS>index.js</LoadJS>
		</PictureEditor>
	</Backend>
</Plugin> 
