[submodule "classes/dbsq"]
	path = classes/dbsq
	url = git://github.com/kieransimkin/dbsq.git
[submodule "js/mediaslide"]
	path = js/mediaslide
	url = git://github.com/kieransimkin/jquery.ui.mediaslide
[submodule "js/fadeover"]
	path = js/fadeover
	url = git://github.com/kieransimkin/jquery.ui.fadeover
[submodule "js/paginajax"]
	path = js/paginajax
	url = git://github.com/kieransimkin/jquery.ui.paginajax
[submodule "js/ace"]
	path = js/ace
	url = git://github.com/ajaxorg/ace.git
[submodule "js/markitup"]
	path = js/markitup
	url = git://github.com/markitup/1.x.git
[submodule "js/tinymce"]
	path = js/tinymce
	url = git://github.com/tinymce/tinymce.git
