RewriteEngine on
RewriteBase /

RewriteRule .*\.yml - [F]
RewriteRule ^(cache|schemas|source-code)/ - [F]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
