RewriteEngine on
RewriteBase /
RewriteRule ^(.*/)?\.git+ - [F,L]
RewriteCond %{REQUEST_URI} !^/css/ 
RewriteCond %{REQUEST_URI} !^/js/ 
RewriteCond %{REQUEST_URI} !^/compiled-resources/ 
RewriteRule ^(.*)$ index.php [QSA,L]
